body {
    background-image: url("fundo.jpg");
    background-size: cover;
    background-color: rgb(23, 21, 21);
    font-family: Arial, sans-serif;
    text-align: center;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}

label{
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}

.div1{
    margin: 10px auto;
    padding: 5px 10px;
    align-items: center;
    border-radius: 30px;
    background-color: rgb(7, 7, 7);
    box-shadow: 1px 1px 25px 2px rgb(150, 7, 241);
    width: 35%;
    
   
}

.valordaconta{
    width: 60%;
    height: 25px;
    font-size: 20px;
    text-align: center;
    background-color: #87b9f6;
    border-radius: 3px;
    
}

select{
    width: 82%;
    height: 30px;
    font-size: 20px;
    text-align: center;
    background-color: #87b9f6;
    border-radius: 3px;
}

.calc{
    border-radius: 20px;
    font-size: 20px;
    color:rgba(95, 246, 8, 0.849);
    background-color: rgb(19, 19, 20);
    box-shadow: 1px 1px 15px 0px rgb(158, 157, 158);
    width: 80%;
    height: 35px;
}

.vg{
    margin: 0 auto;
    font-size: 20px;
    background-color: #87b9f6;
    width: 80%;
    height: 25px;
    text-align: center;
    border-radius: 3px;
}

.vt{
    margin: 0 auto;
    font-size: 20px;
    background-color: #9fbde6;
    width: 80%;
    height: 25px;
    text-align: center;
    border-radius: 3px;
   
}

p{color: #87b9f6;}


